# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Other
*.md
*.jsx
sample.jsx
essay.md
Dockerfile
.dockerignore



